body {
  background: radial-gradient(circle, lightgray 0%, navy 100%);
}

.header-container {
  padding: 12px 32px 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
}

.header-button-bar {
  display: flex;
  flex-direction: row;
}

.search-input-container {
  color: #333;
  border: 0;
  display: table;
  background-color: #febb02;
  padding: 4px;
  border-radius: 4px;
  margin: 24px 0 16px;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}